* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #C9EEFF;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

input {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: #f2f2f2;
}

.add {
    background-color: #C9EEFF;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.supp {
    background-color: #C9EEFF;
    color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.left img{
    background-color: #C9EEFF;
    padding: 5px;
    cursor: pointer;
}